# Introduction to NumPy

In [Tutorial 1](../Tutorial_01), you have seen list, tuple and dictionaries (and we hinted at sets). However, these are not particularly useful when you want to do numerical calculations, or matrix operations. You could try to write a for loop that would iterate through each element, however Python is very slow with operations like that. 

A better (more Pythonic) way is to use the package known as `numpy`. Numpy arrays are similar to lists and tuples etc. in that they hold multiple values. However, all elements in a numpy array must be of the same data type. 

Disregarding that small setback, however, we now have a lot more functionality in numpy arrays. It is convenient to think of the behaviour of numpy arrays as similar to a row vector.

In [2]:
import numpy as np # This is how you can import packages in python.

The above line imports the package numpy (which includes all the functions we will be using). The part `as np` renames it to `np` (just for this program, don't worry), which is slightly more convenient.

Let us assign a numpy array to a variable x.

In [3]:
x=np.array([1,2,3,4]) # np.array converts any array-like object to a numpy array
#x=[1,2,3,4]
y=2*x
print("{}\n{}".format(x,y))

[1 2 3 4]
[2 4 6 8]

Try the above code with a normal list. Now, hopefully it is clear why `numpy` is powerful. But that is just the beginning!

In [4]:
x = np.arange(0,100, 1) # This is similar to the range function from earlier, except that it returns a numpy array
print(x[[4,5,6,7,8,9,10]])

[ 4  5  6  7  8  9 10]

Trying a similar trick with a list instead: (this should give an error!)

In [5]:
x = [1,2,3,4,5,6,7,8,9,10]
print(x[[0,1,2]])

TypeError: list indices must be integers or slices, not list

So `numpy` also supports indexing with lists, instead of only integers or slices, whereas lists don't.

Similar to the `len` function, numpy also has several functions to describe an array. These are also available as methods, which can be used as follows:

In [6]:
x=np.array([[1,2,3],[4,5,6],[7,8,9]])
print(x)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [7]:
print(x.ndim) # number of dimensions. This is a 2D array
print(x.shape) # Shape of array
print(x.size) # Total number of elements in array (product of elements in shape)

2
(3, 3)
9

Multiplication, like addition is element wise. If matrix multiplication is required, we can either convert it into a numpy matrix or use `np.dot()`

In [8]:
x*x

array([[ 1,  4,  9],
       [16, 25, 36],
       [49, 64, 81]])

In [9]:
np.matrix(x)*np.matrix(x)

matrix([[ 30,  36,  42],
        [ 66,  81,  96],
        [102, 126, 150]])

In [10]:
np.dot(x,x)

array([[ 30,  36,  42],
       [ 66,  81,  96],
       [102, 126, 150]])

Comparisons on numpy arrays are easier now

In [11]:
x>5

array([[False, False, False],
       [False, False,  True],
       [ True,  True,  True]])

We can also use conditional expressions like indices

In [12]:
y=np.copy(x) # Simply typing y=x doesnot make a new array, it just adds a reference to the old one.
             # Changes in y will then be reflected in x
y[y>5]=0
y

array([[1, 2, 3],
       [4, 5, 0],
       [0, 0, 0]])

If we just want the indices where a certain condition is satisified, we can use `np.where()`. This is one of the more **important** functions, as we can use it to filter out data according to conditions.

In [13]:
x=np.array([0,1,2,3,4,5,6,7,0.5,0.6])
indices=np.where(x<5)
x[indices]

array([0. , 1. , 2. , 3. , 4. , 0.5, 0.6])

We can also delete elements using `numpy.delete`. 

Note the array slicing. x is 2 dimensional, and requires 2 indices. `x[:, 0]` returns `np.array[1,4,7]`. Play around with different combinations to become comfortable with using indices, as well as `np.where`. 

Also note the argument of the function called `axis`. For a 2D array, `axis=0` is along the rows, and `axis=1` is along the columns. `np.where` assigns the index to be `(np.array([2]))`. Removing index 2 along the columns results in y. If you wanted to remove the row instead, then use `axis=0`.

In [14]:
x=np.array([[1,2,3],[4,5,6],[7,8,9]])
index=np.where(x[:,0]>5)
y=np.delete(x,index,axis=1)
print(y)

[[1 2]
 [4 5]
 [7 8]]

**Make sure you understand the part about indexing, slicing, and using `np.where` and `np.delete`, and are comfortable using it. Try out different arrays that you define yourself, of different dimensions and shapes, and experiment!!**

Other useful functions in numpy like `numpy.arange`, `numpy.linspace` often come in handy. We have already seen `arange`

In [15]:
np.arange(0,1,0.1) # start(inclusive):stop(exclusive):step

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9])

In [16]:
np.linspace(0,1,5) #start:stop(inclusive):number of elements

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

That is not even it. Several mathematical functions are also available:

In [17]:
x = np.arange(-np.pi, np.pi, 0.1)
y = np.sin(x)
x_abs = np.abs(x)

In [18]:
y2 = np.exp(x)

If you thought `numpy` has revealed all its cards, it hasn't yet! <br>
You can also find the mean, standard deviation, maximum, minimum of an array, sort an array, do matrix computations and so much more. 

If you feel right now that NumPy is vast, remember we have barely scratched the surface. In this module and the next is where your Googling skills will be put to the test. 

If you want to find the official docstrings for any function, an easy way to get it from Jupyter is to use `?`. For example

In [23]:
# Note that this is a very useful function, since we can use it to filter out data. 
np.loadtxt?

As a final note, we will end the tutorial part of this notebook by introducing `np.loadtxt`, a function that can be used to load a txt file into a numpy array. (If you remember how difficult it was to import a text file using `open` and `.split()`, then you will appreciate this one!)

In [55]:
beehive_data = np.loadtxt('Beehive_data.csv', delimiter=',')
beehive_data

array([[ 6.300e+00,  1.770e+00,  1.000e+02],
       [ 6.390e+00,  1.850e+00,  1.000e+02],
       [ 6.440e+00,  1.850e+00,  1.000e+02],
       [ 6.590e+00,  1.760e+00,  1.000e+02],
       [ 6.610e+00,  1.720e+00,  3.500e+01],
       [ 6.610e+00,  1.720e+00,  4.700e+01],
       [ 6.610e+00,  1.720e+00,  1.700e+01],
       [ 6.670e+00,  1.620e+00,  1.000e+02],
       [ 6.780e+00,  1.570e+00,  1.000e+02],
       [ 6.780e+00,  1.580e+00,  1.000e+02],
       [ 6.850e+00,  1.550e+00,  1.000e+02],
       [ 6.900e+00,  1.640e+00,  1.000e+02],
       [ 7.320e+00,  1.360e+00,  1.000e+02],
       [ 7.450e+00,  1.310e+00,  1.000e+02],
       [ 7.540e+00,  1.270e+00,  1.000e+02],
       [ 7.540e+00,  1.280e+00,  4.300e+01],
       [ 7.540e+00,  1.280e+00,  2.700e+01],
       [ 7.540e+00,  1.280e+00,  3.000e+01],
       [ 7.670e+00,  1.220e+00,  4.300e+01],
       [ 7.670e+00,  1.220e+00,  2.400e+01],
       [ 7.670e+00,  1.220e+00,  3.300e+01],
       [ 7.700e+00,  1.210e+00,  4.300e+01],
       [ 7.700e+00,  1.210e+00,  2.400e+01],
       [ 7.700e+00,  1.210e+00,  3.300e+01],
       [ 7.730e+00,  1.200e+00,  1.000e+02],
       [ 7.960e+00,  1.110e+00,  1.000e+02],
       [ 8.020e+00,  1.080e+00,  1.000e+02],
       [ 8.180e+00,  1.010e+00,  1.000e+02],
       [ 8.310e+00,  9.600e-01,  1.000e+02],
       [ 8.330e+00,  9.600e-01,  1.000e+02],
       [ 8.500e+00,  8.900e-01,  1.000e+02],
       [ 8.710e+00,  8.000e-01,  1.000e+02],
       [ 8.810e+00,  7.600e-01,  1.000e+02],
       [ 8.890e+00,  7.300e-01,  1.000e+02],
       [ 9.000e+00,  6.900e-01,  1.000e+02],
       [ 9.040e+00,  6.700e-01,  1.000e+02],
       [ 9.230e+00,  6.000e-01,  1.000e+02],
       [ 9.310e+00,  5.800e-01,  6.200e+01],
       [ 9.310e+00,  5.800e-01,  9.000e+00],
       [ 9.310e+00,  5.800e-01,  3.000e+01],
       [ 9.370e+00,  5.500e-01,  1.000e+02],
       [ 9.390e+00,  5.400e-01,  1.000e+02],
       [ 9.420e+00,  5.300e-01,  1.000e+02],
       [ 9.550e+00,  4.800e-01,  1.000e+02],
       [ 9.590e+00,  4.600e-01,  1.000e+02],
       [ 9.670e+00,  4.300e-01,  1.000e+02],
       [ 9.680e+00,  4.200e-01,  1.000e+02],
       [ 9.770e+00,  3.900e-01,  1.000e+02],
       [ 9.790e+00,  3.900e-01,  1.000e+02],
       [ 9.830e+00,  3.700e-01,  1.000e+02],
       [ 9.850e+00,  3.600e-01,  1.000e+02],
       [ 9.880e+00,  3.500e-01,  1.000e+02],
       [ 9.890e+00,  3.500e-01,  1.000e+02],
       [ 9.960e+00,  3.300e-01,  6.600e+01],
       [ 9.960e+00,  3.300e-01,  8.000e+00],
       [ 9.960e+00,  3.300e-01,  2.600e+01],
       [ 1.008e+01,  2.700e-01,  1.000e+02],
       [ 1.011e+01,  2.600e-01,  1.000e+02],
       [ 1.011e+01,  2.600e-01,  1.000e+02],
       [ 1.023e+01,  2.100e-01,  1.000e+02],
       [ 1.024e+01,  2.200e-01,  1.000e+02],
       [ 1.030e+01,  1.900e-01,  1.000e+02],
       [ 1.030e+01,  1.900e-01,  1.000e+02],
       [ 1.031e+01,  2.000e-01,  7.700e+01],
       [ 1.031e+01,  2.000e-01,  6.000e+00],
       [ 1.031e+01,  2.000e-01,  1.800e+01],
       [ 1.041e+01,  1.500e-01,  1.000e+02],
       [ 1.047e+01,  1.300e-01,  1.000e+02],
       [ 1.066e+01,  5.000e-02,  1.000e+02],
       [ 1.069e+01,  4.000e-02,  1.000e+02],
       [ 1.070e+01,  5.000e-02,  1.000e+02],
       [ 1.072e+01,  3.000e-02,  1.000e+02],
       [ 1.087e+01, -2.000e-02,  1.000e+02],
       [ 1.093e+01, -5.000e-02,  1.000e+02],
       [ 1.101e+01, -5.000e-02,  1.000e+02],
       [ 1.102e+01, -7.000e-02,  1.000e+02],
       [ 1.103e+01, -9.000e-02,  1.000e+02],
       [ 1.105e+01, -1.000e-01,  1.000e+02],
       [ 1.134e+01, -2.000e-01,  1.000e+02],
       [ 1.142e+01, -2.600e-01,  0.000e+00],
       [ 1.150e+01, -2.600e-01,  0.000e+00],
       [ 1.159e+01, -2.400e-01,  1.000e+02],
       [ 1.163e+01, -3.000e-01,  1.000e+02],
       [ 1.171e+01, -3.300e-01,  1.000e+02],
       [ 1.178e+01, -3.600e-01,  0.000e+00],
       [ 1.187e+01, -3.100e-01,  1.000e+02],
       [ 1.198e+01, -4.300e-01,  0.000e+00],
       [ 1.206e+01, -4.500e-01,  1.000e+02],
       [ 1.209e+01, -4.600e-01,  1.000e+02],
       [ 1.212e+01, -4.100e-01,  1.000e+02],
       [ 1.217e+01, -4.800e-01,  1.000e+02],
       [ 1.220e+01, -4.900e-01,  1.000e+02],
       [ 1.236e+01, -5.500e-01,  0.000e+00],
       [ 1.243e+01, -5.600e-01,  1.000e+02],
       [ 1.253e+01, -6.000e-01,  1.000e+02],
       [ 1.263e+01, -6.200e-01,  1.000e+02],
       [ 1.264e+01, -6.100e-01,  1.000e+02],
       [ 1.268e+01, -6.100e-01,  1.000e+02],
       [ 1.274e+01, -6.600e-01,  1.000e+02],
       [ 1.283e+01, -7.000e-01,  0.000e+00],
       [ 1.313e+01, -7.800e-01,  1.000e+02],
       [ 1.320e+01, -8.000e-01,  1.000e+02],
       [ 1.370e+01, -1.110e+00,  0.000e+00],
       [ 1.397e+01, -9.400e-01,  1.000e+02]])

Yes, that's it.

### Your assignment ...
... should you choose to accept it, will be the following:
1. Re-do Tutorial 1 assignment with numpy. (This should be fairly easy, but use only numpy functions to reproduce your results)
2. Use the data from `Beehive_data.csv` to find the distance to the Beehive Cluster. Read on ahead to find out more about the concepts in astronomy you will need to solve this

Data downloaded from [VizieR](https://cdsarc.unistra.fr/viz-bin/cat/V/19), from data used in [Piskunov 1980](https://ui.adsabs.harvard.edu/?#abs/1980BICDS..19...67P)

In [42]:
moon_data = np.loadtxt('Moons_and_planets.csv',delimiter=',',dtype=str)

In [46]:
Mercury=0
Venus=0
Earth=0
Mars=0
Jupiter=0
Saturn=0
Uranus=0
Neptune=0
Pluto=0

for data in moon_data:

    if data[1]=='Mercury':
        Mercury=Mercury+1
    elif data[1]=='Venus':
        Venus=Venus+1
    elif data[1]=='Earth':
        Earth=Earth+1
    elif data[1]=='Mars':
        Mars=Mars+1 
    elif data[1]=='Jupiter':
        Jupiter=Jupiter+1
    elif data[1]=='Saturn':
        Saturn=Saturn+1
    elif data[1]=='Uranus':
        Uranus=Uranus+1
    elif data[1]=='Neptune':
        Neptune=Neptune+1
    elif data[1]=='Pluto':
        Pluto=Pluto+1
print(Mercury ,'\n')
print(Venus, '\n')
print(Earth ,'\n')
print(Mars, '\n')
print(Jupiter, '\n')
print(Saturn ,'\n')
print(Uranus ,'\n')
print(Neptune, '\n')
print(Pluto ,'\n')

0

0

1

2

79

82

27

14

5

In [54]:
sorted_array = sorted(moon_data, key=lambda x: float((x[2])))
for lists in sorted_array:
    print(lists[0],'    ',lists[1],'    ',lists[2],'    ','\n')

S/2009 S 1      Saturn      0.15

Aegaeon      Saturn      0.33

S/2010 J 2      Jupiter      0.5

S/2011 J 2      Jupiter      0.5

Valetudo      Jupiter      0.5

S/2017 J 8      Jupiter      0.5

S/2011 J 1      Jupiter      0.5

S/2003 J 9      Jupiter      0.5

S/2003 J 12      Jupiter      0.5

Euporie      Jupiter      1.0

Orthosie      Jupiter      1.0

Sponde      Jupiter      1.0

Kale      Jupiter      1.0

Pasithee      Jupiter      1.0

Mneme      Jupiter      1.0

Thelxinoe      Jupiter      1.0

Kallichore      Jupiter      1.0

Cyllene      Jupiter      1.0

Kore      Jupiter      1.0

Herse      Jupiter      1.0

S/2010 J 1      Jupiter      1.0

S/2003 J 18      Jupiter      1.0

Philophrosyne      Jupiter      1.0

Eupheme      Jupiter      1.0

S/2003 J 19      Jupiter      1.0

S/2017 J 2      Jupiter      1.0

S/2017 J 3      Jupiter      1.0

Pandia      Jupiter      1.0

S/2017 J 5      Jupiter      1.0

S/2017 J 6      Jupiter      1.0

S/2017 J 7      Jupiter      1.0

S/2017 J 9      Jupiter      1.0

Ersa      Jupiter      1.0

S/2003 J 2      Jupiter      1.0

S/2003 J 4      Jupiter      1.0

S/2003 J 10      Jupiter      1.0

S/2003 J 16      Jupiter      1.0

S/2003 J 23      Jupiter      1.0

Anthe      Saturn      1.0

Polydeuces      Saturn      1.25

Aitne      Jupiter      1.5

Eurydome      Jupiter      1.5

Euanthe      Jupiter      1.5

Hegemone      Jupiter      1.5

Arche      Jupiter      1.5

Carpo      Jupiter      1.5

Erinome      Jupiter      1.6

Methone      Saturn      1.6

Chaldene      Jupiter      1.9

Isonoe      Jupiter      1.9

Autonoe      Jupiter      2.0

Thyone      Jupiter      2.0

Hermippe      Jupiter      2.0

Aoede      Jupiter      2.0

Helike      Jupiter      2.0

Eukelade      Jupiter      2.0

Dia      Jupiter      2.0

Eirene      Jupiter      2.0

S/2017 J 1      Jupiter      2.0

Pallene      Saturn      2.0

Fenrir      Saturn      2.0

S/2004 S 17      Saturn      2.0

Harpalyke      Jupiter      2.2

Taygete      Jupiter      2.5

Farbauti      Saturn      2.5

S/2004 S 12      Saturn      2.5

Kalyke      Jupiter      2.6

Iocaste      Jupiter      2.6

Megaclite      Jupiter      2.7

S/2016 J 1      Jupiter      3.0

Aegir      Saturn      3.0

Bebhionn      Saturn      3.0

Bergelmir      Saturn      3.0

Fornjot      Saturn      3.0

Hati      Saturn      3.0

Loge      Saturn      3.0

Skoll      Saturn      3.0

Surtur      Saturn      3.0

Jarnsaxa      Saturn      3.0

Greip      Saturn      3.0

S/2004 S 7      Saturn      3.0

S/2004 S 13      Saturn      3.0

S/2006 S 1      Saturn      3.0

S/2006 S 3      Saturn      3.0

S/2007 S 2      Saturn      3.0

S/2007 S 3      Saturn      3.0

S/2004 S 20      Saturn      3.0

S/2004 S 21      Saturn      3.0

S/2004 S 22      Saturn      3.0

S/2004 S 24      Saturn      3.0

S/2004 S 30      Saturn      3.0

S/2004 S 34      Saturn      3.0

S/2004 S 36      Saturn      3.0

S/2004 S 39      Saturn      3.0

Praxidike      Jupiter      3.4

Suttungr      Saturn      3.5

Mundilfari      Saturn      3.5

Thrymr      Saturn      3.5

Narvi      Saturn      3.5

Bestla      Saturn      3.5

Kari      Saturn      3.5

Tarqeq      Saturn      3.5

Daphnis      Saturn      3.8

Themisto      Jupiter      4.0

Skathi      Saturn      4.0

Hyrrokkin      Saturn      4.0

S/2004 S 23      Saturn      4.0

S/2004 S 25      Saturn      4.0

S/2004 S 26      Saturn      4.0

S/2004 S 28      Saturn      4.0

S/2004 S 29      Saturn      4.0

S/2004 S 31      Saturn      4.0

S/2004 S 32      Saturn      4.0

S/2004 S 33      Saturn      4.0

S/2004 S 37      Saturn      4.0

S/2004 S 38      Saturn      4.0

Callirrhoe      Jupiter      4.3

Erriapus      Saturn      5.0

Margaret      Uranus      5.5

Ijiraq      Saturn      6.0

S/2004 S 27      Saturn      6.0

S/2004 S 35      Saturn      6.0

Francisco      Uranus      6.0

Ferdinand      Uranus      6.0

Mab      Uranus      6.0

Deimos      Mars      6.2

Tarvos      Saturn      7.5

Kiviuq      Saturn      8.0

Adrastea      Jupiter      8.2

Ymir      Saturn      9.0

Trinculo      Uranus      9.0

Cupid      Uranus      9.0

Calypso      Saturn      9.5

Leda      Jupiter      10.0

Stephano      Uranus      10.0

Styx      Pluto      10.0

Paaliaq      Saturn      11.0

Phobos      Mars      11.1

Telesto      Saturn      12.0

Pan      Saturn      12.8

Ananke      Jupiter      14.0

Kerberos      Pluto      14.0

Perdita      Uranus      15.0

Atlas      Saturn      15.3

Helene      Saturn      16.0

Albiorix      Saturn      16.0

Hippocamp      Neptune      17.4

Lysithea      Jupiter      18.0

Sinope      Jupiter      19.0

Siarnaq      Saturn      20.0

Psamathe      Neptune      20.0

Cordelia      Uranus      20.1

Caliban      Uranus      21.0

Laomedeia      Neptune      21.0

Ophelia      Uranus      21.4

Metis      Jupiter      21.5

Sao      Neptune      22.0

Carme      Jupiter      23.0

Nix      Pluto      23.0

Setebos      Uranus      24.0

Prospero      Uranus      25.0

Bianca      Uranus      25.7

Pasiphae      Jupiter      30.0

Neso      Neptune      30.0

Hydra      Pluto      30.5

Halimede      Neptune      31.0

Desdemona      Uranus      32.0

Naiad      Neptune      33.0

Rosalind      Uranus      36.0

Cressida      Uranus      39.8

Belinda      Uranus      40.3

Pandora      Saturn      40.6

Thalassa      Neptune      41.0

Elara      Jupiter      43.0

Prometheus      Saturn      46.8

Juliet      Uranus      46.8

Thebe      Jupiter      49.3

Epimetheus      Saturn      58.3

Himalia      Jupiter      67.0

Portia      Uranus      67.6

Despina      Neptune      75.0

Sycorax      Uranus      78.5

Puck      Uranus      81.0

Amalthea      Jupiter      83.5

Galatea      Neptune      88.0

Janus      Saturn      90.4

Larissa      Neptune      97.0

Phoebe      Saturn      106.6

Hyperion      Saturn      138.6

Nereid      Neptune      178.5

Mimas      Saturn      198.2

Proteus      Neptune      210.0

Miranda      Uranus      235.8

Enceladus      Saturn      252.3

Tethys      Saturn      536.3

Dione      Saturn      562.5

Ariel      Uranus      578.9

Umbriel      Uranus      584.7

Charon      Pluto      606.0

Iapetus      Saturn      734.5

Oberon      Uranus      761.4

Rhea      Saturn      764.5

Titania      Uranus      788.9

Triton      Neptune      1353.4

Europa      Jupiter      1560.7

Moon      Earth      1737.1

Io      Jupiter      1818.1

Callisto      Jupiter      2408.4

Titan      Saturn      2575.5

Ganymede      Jupiter      2634.1

# Magnitudes in Astronomy

Magnitudes are a way to describe how bright an object (in our case, a star) is. It is similar to the decibel system for sound in that magnitudes are logarithmic. They can be calculated according to the formula
$$\rm m = -2.5 \log\left(\frac{F}{F_0}\right)$$
where F is the flux from the star (measured in W m$^{-2}$), and F$_0$ is a reference flux.

To read up more about magnitudes, hit up the [Wikipedia article on it](https://en.wikipedia.org/wiki/Magnitude_(astronomy)#History)

Now, we can calculate the flux of a star at some distance d away as 
$$ F = \frac{L}{4\pi d^2} $$
where L is the Luminosity of the star (measured in W). 

There are a lot of details we have skimmed over (for example, the use of filters) which we will visit again in more detail in `Tutorial 8: Image Reduction`.

As a final note on the data you have been given in `Beehive_data.csv`, the columns are respectively the apparent magnitude of the stars as seen from Earth, the logarithm of the Luminosity(in units of Luminosity of the Sun) of the stars (i.e. $\log(L/L_\odot)$, where $L_\odot$ is the luminosity of the sun), and the probability that the star belongs to the Beehive Cluster.

You must find the distance to the cluster (you are given that the absolute magnitude of the Sun is +4.83). You can do this in two ways:
1. Exclude all the stars with low probability of belonging to the cluster, and then calculate distance for each star, and find the mean.
2. Find the distance for all stars (including the low probability ones) and find the weighted average of the distances, where the weights are the probability.

# Method 1

In [60]:
index=np.where(beehive_data[:,2]<90)
index

(array([  4,   5,   6,  15,  16,  17,  18,  19,  20,  21,  22,  23,  37,
         38,  39,  53,  54,  55,  63,  64,  65,  79,  80,  84,  86,  92,
         99, 102], dtype=int64),)

In [61]:
new_array=np.delete(beehive_data,index,axis=0)
print(new_array)

[[ 6.300e+00  1.770e+00  1.000e+02]
 [ 6.390e+00  1.850e+00  1.000e+02]
 [ 6.440e+00  1.850e+00  1.000e+02]
 [ 6.590e+00  1.760e+00  1.000e+02]
 [ 6.670e+00  1.620e+00  1.000e+02]
 [ 6.780e+00  1.570e+00  1.000e+02]
 [ 6.780e+00  1.580e+00  1.000e+02]
 [ 6.850e+00  1.550e+00  1.000e+02]
 [ 6.900e+00  1.640e+00  1.000e+02]
 [ 7.320e+00  1.360e+00  1.000e+02]
 [ 7.450e+00  1.310e+00  1.000e+02]
 [ 7.540e+00  1.270e+00  1.000e+02]
 [ 7.730e+00  1.200e+00  1.000e+02]
 [ 7.960e+00  1.110e+00  1.000e+02]
 [ 8.020e+00  1.080e+00  1.000e+02]
 [ 8.180e+00  1.010e+00  1.000e+02]
 [ 8.310e+00  9.600e-01  1.000e+02]
 [ 8.330e+00  9.600e-01  1.000e+02]
 [ 8.500e+00  8.900e-01  1.000e+02]
 [ 8.710e+00  8.000e-01  1.000e+02]
 [ 8.810e+00  7.600e-01  1.000e+02]
 [ 8.890e+00  7.300e-01  1.000e+02]
 [ 9.000e+00  6.900e-01  1.000e+02]
 [ 9.040e+00  6.700e-01  1.000e+02]
 [ 9.230e+00  6.000e-01  1.000e+02]
 [ 9.370e+00  5.500e-01  1.000e+02]
 [ 9.390e+00  5.400e-01  1.000e+02]
 [ 9.420e+00  5.300e-01  1.000e+02]
 [ 9.550e+00  4.800e-01  1.000e+02]
 [ 9.590e+00  4.600e-01  1.000e+02]
 [ 9.670e+00  4.300e-01  1.000e+02]
 [ 9.680e+00  4.200e-01  1.000e+02]
 [ 9.770e+00  3.900e-01  1.000e+02]
 [ 9.790e+00  3.900e-01  1.000e+02]
 [ 9.830e+00  3.700e-01  1.000e+02]
 [ 9.850e+00  3.600e-01  1.000e+02]
 [ 9.880e+00  3.500e-01  1.000e+02]
 [ 9.890e+00  3.500e-01  1.000e+02]
 [ 1.008e+01  2.700e-01  1.000e+02]
 [ 1.011e+01  2.600e-01  1.000e+02]
 [ 1.011e+01  2.600e-01  1.000e+02]
 [ 1.023e+01  2.100e-01  1.000e+02]
 [ 1.024e+01  2.200e-01  1.000e+02]
 [ 1.030e+01  1.900e-01  1.000e+02]
 [ 1.030e+01  1.900e-01  1.000e+02]
 [ 1.041e+01  1.500e-01  1.000e+02]
 [ 1.047e+01  1.300e-01  1.000e+02]
 [ 1.066e+01  5.000e-02  1.000e+02]
 [ 1.069e+01  4.000e-02  1.000e+02]
 [ 1.070e+01  5.000e-02  1.000e+02]
 [ 1.072e+01  3.000e-02  1.000e+02]
 [ 1.087e+01 -2.000e-02  1.000e+02]
 [ 1.093e+01 -5.000e-02  1.000e+02]
 [ 1.101e+01 -5.000e-02  1.000e+02]
 [ 1.102e+01 -7.000e-02  1.000e+02]
 [ 1.103e+01 -9.000e-02  1.000e+02]
 [ 1.105e+01 -1.000e-01  1.000e+02]
 [ 1.134e+01 -2.000e-01  1.000e+02]
 [ 1.159e+01 -2.400e-01  1.000e+02]
 [ 1.163e+01 -3.000e-01  1.000e+02]
 [ 1.171e+01 -3.300e-01  1.000e+02]
 [ 1.187e+01 -3.100e-01  1.000e+02]
 [ 1.206e+01 -4.500e-01  1.000e+02]
 [ 1.209e+01 -4.600e-01  1.000e+02]
 [ 1.212e+01 -4.100e-01  1.000e+02]
 [ 1.217e+01 -4.800e-01  1.000e+02]
 [ 1.220e+01 -4.900e-01  1.000e+02]
 [ 1.243e+01 -5.600e-01  1.000e+02]
 [ 1.253e+01 -6.000e-01  1.000e+02]
 [ 1.263e+01 -6.200e-01  1.000e+02]
 [ 1.264e+01 -6.100e-01  1.000e+02]
 [ 1.268e+01 -6.100e-01  1.000e+02]
 [ 1.274e+01 -6.600e-01  1.000e+02]
 [ 1.313e+01 -7.800e-01  1.000e+02]
 [ 1.320e+01 -8.000e-01  1.000e+02]
 [ 1.397e+01 -9.400e-01  1.000e+02]]

In [62]:
logd=(new_array[:,0]+2.5*new_array[:,1]+0.17)/5
distance=10**logd
distance

array([151.00801542, 172.5837892 , 176.60378207, 170.6082389 ,
       150.66070662, 149.62356561, 151.35612484, 151.00801542,
       171.39573075, 150.66070662, 151.00801542, 150.31419661,
       151.35612484, 151.70503675, 150.66070662, 149.62356561,
       149.96848355, 151.35612484, 151.00801542, 149.96848355,
       149.96848355, 150.31419661, 151.00801542, 150.31419661,
       151.35612484, 152.40527538, 152.05475297, 152.40527538,
       152.75660582, 152.05475297, 152.40527538, 151.35612484,
       152.40527538, 153.81546403, 153.10874617, 152.75660582,
       153.10874617, 153.81546403, 153.10874617, 153.46169828,
       153.46169828, 153.10874617, 155.59656316, 154.52544395,
       154.52544395, 155.238701  , 155.95525028, 155.238701  ,
       155.59656316, 158.12480393, 155.95525028, 157.76112697,
       156.67510701, 162.55487558, 159.58791472, 156.67510701,
       156.31476426, 159.22087271, 170.6082389 , 162.18100974,
       162.55487558, 179.0605854 , 166.34126504, 166.72472126,
       179.0605854 , 169.04409316, 169.43378004, 173.78008287,
       173.78008287, 177.827941  , 180.7174126 , 184.07720015,
       178.64875749, 186.20871367, 187.93168168, 228.0342072 ])

In [64]:
summ=0
for i in distance:
    summ=summ+i
average=summ/len(distance)
average

159.9814397624894

# Method 2

In [68]:
logd=(beehive_data[:,0]+2.5*beehive_data[:,1]+0.17)/5
distance_new=10**logd
distance_new

array([151.00801542, 172.5837892 , 176.60378207, 170.6082389 ,
       164.43717232, 164.43717232, 164.43717232, 150.66070662,
       149.62356561, 151.35612484, 151.00801542, 171.39573075,
       150.66070662, 151.00801542, 150.31419661, 152.05475297,
       152.05475297, 152.05475297, 150.66070662, 150.66070662,
       150.66070662, 151.00801542, 151.00801542, 151.00801542,
       151.35612484, 151.70503675, 150.66070662, 149.62356561,
       149.96848355, 151.35612484, 151.00801542, 149.96848355,
       149.96848355, 150.31419661, 151.00801542, 150.31419661,
       151.35612484, 153.46169828, 153.46169828, 153.46169828,
       152.40527538, 152.05475297, 152.40527538, 152.75660582,
       152.05475297, 152.40527538, 151.35612484, 152.40527538,
       153.81546403, 153.10874617, 152.75660582, 153.10874617,
       153.81546403, 155.238701  , 155.238701  , 155.238701  ,
       153.10874617, 153.46169828, 153.46169828, 153.10874617,
       155.59656316, 154.52544395, 154.52544395, 157.03628043,
       157.03628043, 157.03628043, 155.238701  , 155.95525028,
       155.238701  , 155.59656316, 158.12480393, 155.95525028,
       157.76112697, 156.67510701, 162.55487558, 159.58791472,
       156.67510701, 156.31476426, 159.22087271, 154.17004529,
       159.95580286, 170.6082389 , 162.18100974, 162.55487558,
       162.18100974, 179.0605854 , 164.05897732, 166.34126504,
       166.72472126, 179.0605854 , 169.04409316, 169.43378004,
       170.21585084, 173.78008287, 173.78008287, 177.827941  ,
       180.7174126 , 184.07720015, 178.64875749, 177.827941  ,
       186.20871367, 187.93168168, 165.57699635, 228.0342072 ])

In [70]:
summ_dist=0
summ_weights=0
for i in range(len(distance_new)):
    summ_dist=summ_dist+distance_new[i]*beehive_data[:,2][i]
    summ_weights=summ_weights+beehive_data[:,2][i]
average=summ_dist/summ_weights
average

159.5464083490186

Good Luck!